header
    .header
        .header-wrapper
            img(src="./img/logo.png", alt="")
            ul
                li
                    a(href="") главная
                li
                    a(href="") товар
                li
                    a(href="") справка
        