header
    .header
        .header-wrapper
            img(src="./img/logo.png", alt="")
            ul
                li
                    a(href="./index.html") главная
                li
                    a(href="./product.html") товар
                li
                    a(href="./info.html") справка
        