@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

.header{
    background: rgb(0, 0, 0, 0.2);
    margin-bottom: 50px;
    .header-wrapper{
        width: 75%;
        height: 171px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        ul{
            margin: auto 0;
            li{
                list-style-type: none;
                display: inline;
                width: 305px;
                margin-right: 79px;
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 40px;
                }
            }
            li:hover{
                border-bottom: 6px solid #0066ff;
                padding-bottom: 3px;
            }
        }
    }
}


.main{
    width: 75%;
    margin: 0 auto 350px;
        .block-info{
            width: 100%;
            p{
                font-size: 40px;
            }
            img{
                width: 100%;
                margin-bottom: 71px;
            }
        }
        h2.title__Of__Block{
            font-size: 36px;
            font-weight: 400;
            padding: 40px 0;
        }
        .recommendations-blocks{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .recommend-block{
                p{
                    width: 152px;
                    font-size: 24px;
                }
            }
        }
        h1.sect-name{
            font-size: 64px;
            font-weight: 400;
            margin: 33px 0;
        }
        .product-blocks{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .product-block{
                p{
                    width: 348px;
                    font-size: 32px;
                    margin-top: 67px;
                }
            }
        }
}


.footer{
    height: 171px;
    background: rgb(0, 0, 0, 0.2);
    .footer-wrapper{
        img{
            padding-top: 15px;
            width: 121px;
        }
    }
}

@media (max-width:1024px){
    .header{
        .header-wrapper{
            width: 75%;
            height: 85px;
            ul{
                li{
                    width: 126px;
                    margin-right: 54px;
                    a{
                        font-size: 32px;
                    }
                }
            }
        }
    }

    .main{
        width: 75%;
        margin: 0 auto 350px;
            .block-info{
                p{
                    font-size: 32px;
                }
                img{
                    margin-bottom: 50px;
                }
            }
            h2.title__Of__Block{
                font-size: 32px;
                padding: 35px 0;
            }
            .recommendations-blocks{
                .recommend-block{
                    p{
                        width: 101px;
                        font-size: 16px;
                    }
                }
            }
            h1.sect-name{
                font-size: 48px;
            }
            .product-blocks{
                .product-block{
                    p{
                        width: 319px;
                        font-size: 24px;
                    }
                }
            }
    }

    .footer{
        height: 93px;
        .footer-wrapper{
            img{
                padding-top: 15px;
                width: 100px;
            }
        }
    }
}
@media (max-width:768px){
    .header{
        .header-wrapper{
            height: 93px;
            ul{
                li{
                    margin-right: 20px;
                }
            }
        }
    }

    .main{
        width: 75%;
        margin: 0 auto 350px;
            .block-info{
                p{
                    font-size: 24px;
                }
                img{
                    margin-bottom: 40px;
                }
            }
            h2.title__Of__Block{
                font-size: 20px;
                padding: 35px 0;
            }
            .recommendations-blocks{
                .recommend-block{
                    p{
                        width: 101px;
                        font-size: 16px;
                    }
                }
            }
            h1.sect-name{
                font-size: 32px;
            }
            .product-blocks{
                .product-block{
                    p{
                        width: 319px;
                        font-size: 24px;
                    }
                    img{
                        width: 214px;
                        height: 104px;
                    }
                }
            }
    }
}
@media (max-width:480px){
    .header{
        .header-wrapper{
            width: 75%;
            height: 59px;
            ul{
                li{
                    width: 100px;
                    margin-right: 10px;
                    a{
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .main{
        width: 75%;
        margin: 0 auto 200px;
            .block-info{
                p{
                    font-size: 20px;
                }
                img{
                    margin-bottom: 20px;
                }
            }
            h2.title__Of__Block{
                font-size: 20px;
                padding: 35px 0;
            }
            .recommendations-blocks{
                .recommend-block{
                    p{
                        width: 101px;
                        font-size: 16px;
                    }
                    img{
                        width: 103px;
                        height: 75px;
                    }
                }
            }
            h1.sect-name{
                font-size: 32px;
            }
            .product-blocks{
                .product-block{
                    p{
                        width: 319px;
                        font-size: 24px;
                    }
                    img{
                        width: 183px;
                        height: 83px;
                    }
                }
            }
    }
}
@media (max-width:320px){
    .header{
        .header-wrapper{
            width: 75%;
            height: 59px;
            img{
                width: 38px;
                height: 40px;
            }
            ul{
                li{
                    width: 62px;
                    margin-right: 1px;
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
    }


}