doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        include ./modules/header.pug
        .main
            .block-info
                p Жил Альберт Бумажник, поклонник красивой бумаги. Он решил создать свою фирму по производству идеального материала для творчества. С поддержкой друзей и семьи, Альберт освоил производство, выбрав уединенное место рядом с рекой. Первые шаги были трудными, но с временем его бумага стала популярной не только в своем городе. Альберт чувствовал гордость, видя, как его труды приносят радость и вдохновение другим.
                img(src="./img/img_blck-info.png", alt="")
                p Продукция: Фирма производит широкий ассортимент бумаги, включая офисную бумагу, художественную бумагу, бумагу для печати и упаковки. Клиенты "Бумага МастерПапер" варьируются от художников и писателей до крупных компаний, ценящих качество и ответственный подход к производству. "Бумага МастерПапер" не только производит бумагу, но и вдохновляет людей на творчество, поддерживая их идеи и проекты.
                img(src="./img/img_blck-info-2.png", alt="")
        include ./modules/footer.pug
