doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
    body
        include ./modules/header.pug
        .main
            
        include ./modules/footer.pug
