doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Товар
    body
        include ./modules/header.pug
        .main
            h2.title__Of__Block рекомендация по товару
            .recommendations-blocks
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999
                .recommend-block
                    img(src="./img/prod_paper.png", alt="")
                    p БУМАГА цена: 3999

            h1.sect-name услуги и продукция
            h2.title__Of__Block услуги
            .product-blocks
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Производство на заказ а3 бумаги. <br> от 1000шт <br> цена за шт: 7р
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Производство на заказ а3 бумаги. <br> от 1000шт <br> цена за шт: 7р
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Производство на заказ а3 бумаги. <br> от 1000шт <br> цена за шт: 7р
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Производство на заказ а3 бумаги. <br> от 1000шт <br> цена за шт: 7р
            h2.title__Of__Block товар
            .product-blocks
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Бумага 100шт <br> 1000р
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Бумага 100шт <br> 1000р
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Бумага 100шт <br> 1000р
                .product-block
                    img(src="./img/prod_alotpaper.png", alt="")
                    p Бумага 100шт <br> 1000р
        include ./modules/footer.pug